<div class="xpense-tem">
  <div class="items-container">

    <div class="income-column">
      <h1>Income</h1>
      <div class="card-item">
        <app-item-card [isIncome]="true" style="margin-bottom: 20px;"></app-item-card>
        <app-item-card [isIncome]="true" style="margin-bottom: 20px;"></app-item-card>
      </div>
    </div>

    <div class="expense-column">
      <h1>Expenses</h1>
      <div class="card-item">
        <app-item-card [isIncome]="false" style="margin-bottom: 20px;"></app-item-card>
        <app-item-card [isIncome]="false" style="margin-bottom: 20px;"></app-item-card>
      </div>
    </div>

  </div>
</div>
