<form #xpenseForm="ngForm" (ngSubmit)="addXpense(xpenseForm)">
  <div class="field is-horizontal">
    <div class="field-body flex">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            class="input"
            style="width: 100px"
            name="amount"
            placeholder="Amount"
            required
            ngModel
            [(ngModel)]="newAmount"
          />
        </p>
      </div>

      <div class="field is-narrow">
        <p class="control">
          <input
            type="text"
            class="input"
            placeholder="Item/Description"
            name="description"
            ngModel
            required
            [(ngModel)]="newDesc"
          />
        </p>
      </div>

      <div class="field">
        <button *ngIf="!editMode" type="submit" class="button is-primary" [disabled]="!xpenseForm.valid">Add</button>
        <button *ngIf="editMode" type="submit" class="button is-primary" [disabled]="!xpenseForm.valid">Save</button>
      </div>
    </div>
  </div>
</form>
